<%- include('authview/header.ejs') %> 
<% if (locals.warning) { %>
    <div class="alert alert-warning alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= warning %></strong>
    </div>
<% } %>

<main class="page contact-us-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Login</h2>
                <p>login to continue and start posting and blogging</p>
            </div>
            <form method="POST" action="/login"> 
                <div class="form-group"><label>UserName</label><input class="form-control" type="text" name="username"></div>
                <div class="form-group"><label>Password</label><input class="form-control" type="password" name="password"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Send</button></div>
                <a href="/register" class="btn btn-primary btn-block">Register</a>
            </form>
        </div>
    </section>
</main>
<%- include('authview/footer.ejs') %> 